{{#if @site.twitter}}
  <li class='c-nav__item c-nav__item--social'>
    <a href='{{ twitter_url }}' title='Twitter' target='_blank' rel='noopener'>
      <span class='c-nav__item__icon' data-icon='ei-sc-twitter' data-size='s'></span>
      <span class='u-hidden-visually'>Twitter</span>
    </a>
  </li>
{{/if}}

{{#if @site.facebook}}
  <li class='c-nav__item c-nav__item--social'>
    <a href='{{ facebook_url }}' title='Facebook' target='_blank' rel='noopener'>
      <span class='c-nav__item__icon' data-icon='ei-sc-facebook' data-size='s'></span>
      <span class='u-hidden-visually'>Facebook</span>
    </a>
  </li>
{{/if}}

<li class='c-nav__item c-nav__item--social'>
  <a href='http://instagram.com/iainbroome' title='Instagram' target='_blank' rel='noopener'>
    <span class='c-nav__item__icon' data-icon='ei-sc-instagram' data-size='s'></span>
    <span class='u-hidden-visually'>Instagram</span>
  </a>
</li>

<li class='c-nav__item c-nav__item--social'>
  <a href='https://www.youtube.com/channel/UCFBBGpW388L1KP1c6wX0Gdg' title='YouTube' target='_blank' rel='noopener'>
    <span class='c-nav__item__icon' data-icon='ei-sc-youtube' data-size='s'></span>
    <span class='u-hidden-visually'>YouTube</span>
  </a>
</li>

<li class='c-nav__item c-nav__item--social'>
  <a href='http://iainbroome.com/#searchinghost-easy' title='Search' target='_blank' rel='noopener'>
    <span class='c-nav__item__icon' data-icon='ei-sc-search' data-size='s'></span>
    <span class='u-hidden-visually'>Search</span>
  </a>
</li>
