<div class="o-grid">
<div class="o-grid__col o-grid__col--center o-grid__col--9-10-m o-grid__col--4-4-l">
<div class="c-testimonial">
      <div class="c-testimonial__card">
        <div class="c-testimonial__icon">
          <svg class="icon__cnt" enable-background="new 0 0 409.294 409.294" viewBox="0 0 409.294 409.294" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m0 204.647v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941v-58.471c-96.728 0-175.412 78.684-175.412 175.412z"></path><path d="m409.294 87.706v-58.471c-96.728 0-175.412 78.684-175.412 175.412v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941z"></path></svg>
        </div>
        <div class="c-testimonial__content">
          <p class="c-testimonial__text">Presented in uncomplicated, unembellished prose, <em><a href="/angelica">A is for Angelica</a></em> is a brilliant and adeptly written debut novel, loaded with poignancy and feeling.</p>
          <p class="c-testimonial__author">Time Out Magazine</p>
          
        </div>
      </div>
      <div class="c-testimonial__card">
        <div class="c-testimonial__icon">
          <svg class="icon__cnt" enable-background="new 0 0 409.294 409.294" viewBox="0 0 409.294 409.294" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m0 204.647v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941v-58.471c-96.728 0-175.412 78.684-175.412 175.412z"></path><path d="m409.294 87.706v-58.471c-96.728 0-175.412 78.684-175.412 175.412v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941z"></path></svg>
        </div>
        <div class="c-testimonial__content">
          <p class="c-testimonial__text">Just read my first newsletter from Iain Broome - hilarious. And useful and thoughtful and all those good things that make for great newsletters.</p>
          <p class="c-testimonial__author">Gemma Milne, author</p>
          
        </div>
      </div>
      <div class="c-testimonial__card">
        <div class="c-testimonial__icon">
          <svg class="icon__cnt" enable-background="new 0 0 409.294 409.294" viewBox="0 0 409.294 409.294" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m0 204.647v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941v-58.471c-96.728 0-175.412 78.684-175.412 175.412z"></path><path d="m409.294 87.706v-58.471c-96.728 0-175.412 78.684-175.412 175.412v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941z"></path></svg>
        </div>
        <div class="c-testimonial__content">
          <p class="c-testimonial__text">Been an absolute pleasure working with Iain for the last year. Snap him up for all your content strategy and content design needs. Amazing addition to any team.</p>
          <p class="c-testimonial__author">Stefan Webb, TPXimpact</p>

        </div>
      </div>
    </div>
    </div>
    </div>